.header {
    background-color: var(--color_blue);
    color: #fff;
    width: 100%;
}

.headermain {
    width: 800px;
    margin: auto;
    padding-top: 32px;
}

.headermain table {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
}

.profilepic {
    border-radius: 50%;
    border: 3px solid #fff;
    width: 120px;
    height: 120px;
    margin-right: 32px;
}

.name {
    font-size: 28px;
    font-weight: 400;
    margin-top: 5px;
}

.affiliation {
    font-size: 14px;
    font-weight: 400;
}

.info {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    margin-top: 6px;
    margin-bottom: 6px;
}

.icon {
    height: 14px;
}

